<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Historial de Reservación</title>

    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles-detalleVehiculo.css" rel="stylesheet" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>


    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="css/navbar-top-fixed.css" rel="stylesheet">
</head>

<body>
    <!-- Navigation-->

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-success bg-gradient">
        <div class="container-fluid">
            <a class="navbar-brand active" href="/main">Logo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/vehiculos">Vehiculos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Corporativo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/sucursales">Sucursales</a>
                    </li>
                    <!--
            <li class="nav-item">
              <a class="nav-link active" href="/login">Log In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/register">Sign up</a>
            </li>
            -->
                    <li class="nav-item">

                        <a class="nav-link active" href="/userProfile/<%= user._id %>"><%= user.nombre %></a>

                    </li>
                    <li class="nav-item">
                        <form action="/logout" method="POST">
                            <button class="btn btn-outline-light" type="submit">LogOut</button>
                        </form>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Busqueda" aria-label="Search">
                    <button class="btn btn-outline-light" type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </nav>




    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="/<%=vehiculo.imagePath%>"
                        alt="Imagen del vehiculo." /></div>
                <div class="col-md-6">
                    <div class="small mb-1">Unlimited Travel</div>
                    <div class="small mb-2">Historial de Reservación</div>
                    <h1 class="display-5 fw-bolder">
                        <%= vehiculo.marca %> - <%= vehiculo.model %>
                    </h1>
                    <div class="fs-5">
                      <span>Fecha de reservacion: <%= reserva.fechareserva %></span>
                  </div>
                    <div class="fs-5 ">
                        <span>Costo por dia: $<%= vehiculo.precio %></span>
                    </div>
                    <div class="fs-5 ">
                        <span>Lugar de retiro: <%= retiro.ciudad %></span>
                    </div>
                    <div class="fs-5 ">
                        <span>Fecha de retiro: <%= reserva.fechaRetiro %> <%= reserva.horaRetiro %></span>
                    </div>
                    <div class="fs-5 ">
                        <span>Lugar de Entrega: <%= entrega.ciudad %></span>
                    </div>
                    <div class="fs-5">
                        <span>Fecha de entrega: <%= reserva.fechaEntrega %> <%= reserva.horaEntrega %></span>
                    </div>
                    <div class="fs-5">
                        <span>Costo de la reservacion: <%= reserva.total %></span>
                    </div>
                    <div class="fs-5">
                        <span>Estado: <%= reserva.estado %></span>
                    </div>

                    <div class="d-flex">
                        <% if (reserva.estado=='En proceso'){  %>
                            <div>
                                <form action="/procesar-reserva/<%=reserva._id%>" method="POST">
                                <button class="btn btn-outline-primary flex-shrink-0" >
                                <i class="bi bi-cart-check me-1"></i>
                                Procesar Reservacion
                                </button>
                            </div>
                        <% }else{ %>
                            <div>
                                <a type="button" class="btn btn-success" href="/facturar/<%=reserva._id%>">
                                    <i class="bi bi-receipt"></i>
                                    Generar Factura
                                </a>
                            </div>
                        <% } %>
                        <div>
                            <form action="/reserva/<%=reserva._id%>/delete" method="POST">
                        <button class="btn btn btn-outline-danger flex-shrink-0" 
                            style="margin-left: 10px;"><i class="bi bi-x-circle"></i>  Cancelar Reservacion</button>
                        </div>     
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="container">

        <div>
            <p class="float-center "><a href="#">Back to top</a></p>
            <p style="text-align: center;"><a href="#">Acerca de nosotros</a> &middot; <a href="#">Contacto</a> &middot;
                <a href="#">Ubicaciones</a>
            </p>
            <p style="text-align: center;">&copy; 2022 Nombre de la empresa.</p>
        </div>
    </footer>