<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil de Usuario</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <style>
    body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;    
    }
    .main-body {
        padding: 15px;
    }
    .card {
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }

    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem;
    }

    .gutters-sm {
        margin-right: -8px;
        margin-left: -8px;
    }

    .gutters-sm>.col, .gutters-sm>[class*=col-] {
        padding-right: 8px;
        padding-left: 8px;
    }
    .mb-3, .my-3 {
        margin-bottom: 1rem!important;
    }

    .bg-gray-300 {
        background-color: #e2e8f0;
    }
    .h-100 {
        height: 100%!important;
    }
    .shadow-none {
        box-shadow: none!important;
    }
    .btn-info {
        color: #ffff;
        background-color: #278e5e;
        border-color: #278e5e;
    }
    .btn-info:hover {
        color: #ffff;
        background-color: #35ba7c;
        border-color: #35ba7c;
    }

  </style>
</head>
<body>
  <div class="container">
    <div class="main-body">
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-success bg-gradient">
        <div class="container-fluid">
          <a class="navbar-brand active" href="/main">Logo</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/vehiculos">Vehiculos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">Corporativo</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/sucursales">Sucursales</a>
              </li>
              <!--
            <li class="nav-item">
              <a class="nav-link active" href="/login">Log In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/register">Sign up</a>
            </li>
            -->
              <li class="nav-item">
                <a class="nav-link active" href="/userProfile/<%= usuario._id %>"><%= usuario.nombre %></a>
              </li>
              <li class="nav-item">
                <form action="/logout" method="POST">
                  <button class="btn btn-outline-light" type="submit">LogOut</button>
                </form>
              </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <% if (usuario.admin){ %>
                <li class="nav-item">
                  <a class="nav-link active" href="/controlusers">Control de Usuario</a>
                </li>
              <% } %>
            </ul>
            
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Busqueda" aria-label="Search">
              <button class="btn btn-outline-light" type="submit">Buscar</button>
            </form>
          </div>
        </div>
      </nav>
    
          <div class="row gutters-sm" style="margin-top: 40px;">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <% if(usuario.imagePath != null){%>
                      <img src="/<%=usuario.imagePath%>" alt="Admin" class="rounded-circle" width="150">
                    <%} else{%>
                      <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                    <% } %>
                    <div class="mt-3">
                      <h4><%= usuario.nombre %> <%= usuario.apellido %></h4>                                 
                      <!--<button class="btn btn-primary">Follow</button>
                      <button class="btn btn-outline-primary">Message</button>-->
                    </div>
                  </div>
                </div>
              </div>            
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Nombre</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <%= usuario.nombre %>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Apellido</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <%= usuario.apellido %>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <%= usuario.email %>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Telefono</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <%= usuario.telefono %>
                    </div>
                  </div>
                  <hr> 
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Contraseña</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      ********
                    </div>
                  </div>                 
                  
                  <hr>
                  <div class="row">
                    <div class="col-sm-12">
                      <a class="btn btn-info " target="__blank" href="/profile/<%= usuario._id %>/edit">Editar Perfil</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <a class="btn btn-info " target="__blank" href="/historial">Historial de Reservas</a>
              </div>

            </div>
          </div>    
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>